<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresos-Gastos: {{titulo}}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <header>
        <div>
            <a href="/" class="miEstilo">Inicio</a> |
            <a href="/new" class="miEstilo2">Nuevo</a> |
        </div>
        <h1>Aplicación web Flask BceroXXIV</h1>
    </header>
    <section>
        {# Comentario #}
        {# Este bloque es para heredar #}
        {% block pageBase %}

        {% endblock %}
    </section>
    <br><br>

    <footer>
        &copy;2025 - todos los derechos reservados - albadediegocorrea@gmail.com
    </footer>

</body>
</html>