{% extends "base.html" %}

{% block pageBase %}

<form method="POST" action="{{urlForm}}">
  <fieldset>
    <legend><h2>{{tipoAccion}} de Ingresos y Gastos</h2></legend>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Fecha:</label>
      <input type="date" name="fecha" value="{{dataForm['fecha']}}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Concepto:</label>
      <input type="text" name="concepto" value="{{dataForm['concepto']}}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Monto:</label>
      <input type="number" name="monto" value="{{dataForm['monto']}}" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">{{tipoBoton}}</button>
  </fieldset>
</form>

    <a class="btn btn-secondary mt-4" href="/">Volver</a>



    
        {% for item in errors %}
        <div class="alert alert-danger mt-4" role="alert">
          <ul>
            <li>{{item}}</li>
          </ul>
        </div>
        {% endfor %}
    

{% endblock %}