{% extends "base.html" %}

{% block pageBase %}
<h2>Esto es una lista de ingresos y gastos</h2>
<table>
    <tr>
        <th>#</th>
        <th>Fecha</th>
        <th>Concepto</th>
        <th>Monto</th>
        <th>Acciones</th>
    </tr>
    {% for items in data %}
    <tr>
        <td> {{items[0]}} </td>
        <td> {{items[1]}} </td>
        <td> {{items[2]}} </td>
        <td> {{items[3]}} €</td>
        <td>
            <a href="/update/{{items[0]}}">Modificar</a>
            <a href="/delete/{{items[0]}}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
<br>
<button>
    <a href="/new">
    Nuevo Registro
    </a>
</button>
{% endblock %}